<footer class="pt-5" style="background-color: #0f6595;">
  <div class="container pb-5">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <div class="footer-menus">
          
            <div class="row">
              <div class="col-md-6">
                <div class="footer-menu-1">
                  <h3>Profile</h3>
                  <ul>
                    <li><a href="#">Order Traking</a></li>
                    <li><a href="#">Coupons</a></li>
                    <li><a href="#">Returns Or Exchange</a></li>
                    <li><a href="">Warranty</a></li>
                    <li><a href="">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="footer-menu-2">
                  <h3>Customer Services</h3>
                  <ul>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="">Pro Discounts</a></li>
                    <li><a href="">Help Center</a></li>
                  </ul>
                </div>
              </div>
            </div>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-menus">
          <h3>Latest Blogs Entry</h3>
          <ul class="footer-blogs">
            <li><a href="#">Breathe New Life into Your Bathroom Atmosphere with Accessories</a></li>
            <li><a href="#">Looking for Cabinet Knobs? Consider going Crystal</a></li>
            <li><a href="#">Kitchen Cabinet Decorative Hardware and its Functions</a></li>
            <li><a href="#">Selecting the Right Door Handle</a></li>
            <li><a href="#">Selecting the Right Door Handle</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-social">
          <h3>We Accept</h3>
          <img alt="Credit Cards" data-entity-type="file"
            src="https://lowpriced8.webserver9.com/sites/default/files/inline-images/social-icons.png">
          <ul class="nav social">
            <li><a class="my-3 me-2" href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
              </a></li>
            <li><a class="my-3 me-2" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
              </a></li>
            <li><a class="my-3 me-2" href="#"><i class="fa fa-rss" aria-hidden="true"></i>
              </a></li>
          </ul>
          <div class="secure">
            <img src="https://lowpriced8.webserver9.com/sites/default/files/inline-images/secure.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="copyright mt-2">
    <div class="container">
      <div class="row">
      <div class="col-md-6">
        Copyright © 2017 LowPriceDoorKnobs.com, LLC | All rights reserved. <a href="#">Sitemap</a> 
      </div>
      <div class="col-md-6">
        Website Developed by <a href="#">CMS Website Services</a> 
      </div>
    </div>
  </div></div>
</footer>