<div class=" top-header d-flex justify-content-between">
<ul class="nav shiping-log">
  <li> (888) 247.0495</li>
  <li title="Monday to Friday
             9am to 5pm EST
             Saturday & Sunday
             CLOSED">Hours of opration</li>
  <li><a href="#">Track Order</a></li>
 
</ul>
<ul class="nav user-log">
  <li><a href="#">My Account</a></li>
  <li><a href="#">Help</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="/login">Log In</a></li>
  <li><a href="#">Register</a></li>
</ul>

</div>
<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light p-0" [ngClass]="{ sticky: scrolled }">
  <div class="container-fluid p-0 flex-column">
    <div class="navbar-brand d-flex"><a  href="#">LowPrice<span class="text-danger">DoorKnobs</span>.com</a>
     <div class="quick-menu">
       <label class="me-3"><input type="text" id="search-bar"><span class="search-icon" placeholder="Search "></span></label>
       <a class="fs-5" href="#">
        <i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div></div> 
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white px-4 py-3 active" aria-current="page" href="" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white px-4 py-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink_1" role="button" data-bs-toggle="dropdown" aria-expanded="true">
           Shop By Product
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_1">
            <li><a class="dropdown-item" href="#">Door Knobs</a></li>
            <li><a class="dropdown-item" href="#">door Levers</a></li>
            <li><a class="dropdown-item" href="#">Deadbolts</a></li>
            <li><a class="dropdown-item" href="#">Handlesets</a></li>
            <li><a class="dropdown-item" href="#">Electronic Locks</a></li>
            <li><a class="dropdown-item" href="#">Decorative Plates</a></li>
            <li><a class="dropdown-item" href="#">Crystal & Porcelain</a></li>
            <li><a class="dropdown-item" href="#">Hinges</a></li>
            <li><a class="dropdown-item" href="#">View All</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white px-4 py-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink_2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop By Brand
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_2">
            <li><a class="dropdown-item" href="#">Baldwin Hardware</a></li>
            <li><a class="dropdown-item" href="#">National Hardware</a></li>
            <li><a class="dropdown-item" href="#">MaxGrade</a></li>
            <li><a class="dropdown-item" href="#">Brass Accents</a></li>
            <li><a class="dropdown-item" href="#">Omnia Hardware</a></li>
            <li><a class="dropdown-item" href="#">Dexter</a></li>
            <li><a class="dropdown-item" href="#">Emtek</a></li>
            <li><a class="dropdown-item" href="#">Nostalgic Warehouse</a></li>
            <li><a class="dropdown-item" href="#">Rocky Mountain Hardware</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4 py-3" href="#">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4 py-3" href="#">Cabinet Hardware</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4 py-3" href="#">Hinges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4 py-3" href="#">Help Center</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4 py-3" href="#">Coupons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-4 py-3" href="/contact_us">Contact Us</a>
        </li>
   
      </ul>
    </div>
  </div>
</nav>
</header>
