<header>
  <!-- <========top-header========> -->
  <section class="header-top bg-dark px-4">
    <div class=" top-header d-flex justify-content-between">
      <ul class="nav shiping-log">
        <li> (888) 247.0495</li>
        <li title="Monday to Friday
                 9am to 5pm EST
                 Saturday & Sunday
                 CLOSED">Hours of opration</li>
        <li><a href="#">Track Order</a></li>

      </ul>
      <ul class="nav user-log">
        <li><a href="#">My Account</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/contact_us">Contact Us</a></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
      </ul>

    </div>
  </section>
  <!-- <=======main-nav-header========> -->
  <section class="main-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0" [ngClass]="{ sticky: scrolled }">
      <div class="container-fluid p-0 flex-column">
        <div class="navbar-brand d-flex"><a href="#"><img src="https://lowpriced8.webserver9.com/sites/default/files/lowprice_logo.png" alt=""></a>
          <div class="quick-menu">
            <label class="me-3"><input type="text" id="search-bar"><span class="search-icon"
                placeholder="Search "></span></label>
            <a class="fs-5 me-sm-3" href="/cart">
              <i class="bi bi-cart-check"></i><span class="badge cart-badge-small rounded-pill bg-dark">1</span></a>
            <button class="navbar-toggler" (click)="toggleClass()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
              <div [class.active]="classApplied" class="shadow-bg"></div>
            </button>
          </div>
        </div>
   
   
  <app-mainmenu class="w-100"></app-mainmenu>
  </div>
    </nav>
  </section>

</header>

<div></div>



