<app-header></app-header>
<!-- <========-page=======> -->
<section class="register-page animate__animated animate__fadeIn my-5 border rounded-3 overflow-hidden shadow w-75 mx-auto">
    <div class="container-fluid">
        <div class="row">
<div class="pt-5 col-md-5 register-banner text-center bg-dark">
<div><h1 class="text-white my-4">Welcome to</h1>
<h4 class="  text-white">LowPrice<span class="text-danger">DoorKnobs</span>.com</h4></div>  
<div class="mb-4">
<P class="text-white fs-5">Have Account?</P>
  <a class="btn btn-light" href="/login">Login</a>
</div>

</div>
<div class="col-md-7">
    <div class="login-form p-4 my-5">
          <form class="row g-3 needs-validation">
            <h1 class="text-dark mb-5">Create Account</h1>
            <div class="col-md-6">
              <label for="validationCustom01" class="form-label">First name</label>
              <input type="text" class="form-control text-input" id="validationCustom01" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom02" class="form-label">Last name</label>
              <input type="text" class="form-control text-input" id="validationCustom02" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-12">
              <label for="validationCustomUsername" class="form-label">Email Address</label>
              <div class="input-group has-validation">
                <input type="email" class="form-control text-input" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  lease Enter Valid Email.
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label for="validationCustomUsername" class="form-label">Mobile No.</label>
              <div class="input-group has-validation">
                <input type="tel" class="form-control text-input" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please Enter Valid Mobile No.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom03" class="form-label">password</label>
              <input type="password" class="form-control text-input " id="validationCustom03" required>
              <div class="invalid-feedback">
                Please provide a Strong Password.
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom04" class="form-label">Confirm Password</label>
              <input type="password" class="form-control text-input " id="validationCustom03" required>
              <div class="invalid-feedback">
                Password Not Match.
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-dark btn-md rounded-2">Register</button>
            </div>
          </form>
        </div>
</div>
        </div>
    </div>
</section>
<app-footer></app-footer>
