<div class="justify-content-center bg-dark collapse navbar-main navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white px-4 py-3 active" aria-current="page" href=""
          routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white px-4 py-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink_1"
          role="button" data-bs-toggle="dropdown" aria-expanded="true">
          Shop By Product
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_1">
          <li><a class="dropdown-item" href="#">Door Knobs</a></li>
          <li><a class="dropdown-item" href="#">door Levers</a></li>
          <li><a class="dropdown-item" href="#">Deadbolts</a></li>
          <li><a class="dropdown-item" href="#">Handlesets</a></li>
          <li><a class="dropdown-item" href="#">Electronic Locks</a></li>
          <li><a class="dropdown-item" href="#">Decorative Plates</a></li>
          <li><a class="dropdown-item" href="#">Crystal & Porcelain</a></li>
          <li><a class="dropdown-item" href="#">Hinges</a></li>
          <li><a class="dropdown-item" href="#">View All</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-white px-4 py-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink_2"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Shop By Brand
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink_2">
          <li><a class="dropdown-item" href="#">Baldwin Hardware</a></li>
          <li><a class="dropdown-item" href="#">National Hardware</a></li>
          <li><a class="dropdown-item" href="#">MaxGrade</a></li>
          <li><a class="dropdown-item" href="#">Brass Accents</a></li>
          <li><a class="dropdown-item" href="#">Omnia Hardware</a></li>
          <li><a class="dropdown-item" href="#">Dexter</a></li>
          <li><a class="dropdown-item" href="#">Emtek</a></li>
          <li><a class="dropdown-item" href="#">Nostalgic Warehouse</a></li>
          <li><a class="dropdown-item" href="#">Rocky Mountain Hardware</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-4 py-3" href="#">Accessories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-4 py-3" href="#">Cabinet Hardware</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-4 py-3" href="#">Hinges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-4 py-3" href="#">Help Center</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-4 py-3" href="#">Coupons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white px-4 py-3" href="/contact_us">Contact Us</a>
      </li>

    </ul>
  </div>