<app-header></app-header>
<app-banner></app-banner>
<!-- <========shop-by-material========> -->
<section class="py-5 shop-by-material">
  <div class="container">
    <div class="shop-by-header text-center">
      <span class="section-tagline">Find Your Favorite</span>
      <div class="section-title-inner">
        <h2 class="section-title text-dark">Shop by Material</h2>
        <div class="section-title-content">
          <p>Shop by Material uses cookies to give you the best shopping experience</p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="material-image ">
          <div class="material-content"><a href="/catalog/crystal-porcelain-1 "><img alt="Crystal Porcelain
                        " class="lazyloaded " src="https://lowpriced8.webserver9.com/sites/files/image_7.png" /> </a>
          </div>
        </div>

        <div class="material-name "><a href="/catalog/crystal-porcelain-1 ">Crystal Porcelain</a></div>
      </div>

      <div class="col-md-4">
        <div class="material-image">
          <div class="material-content"><a href="/catalog/stainless-steel"><img alt="Stainless Steel"
                src="https://lowpriced8.webserver9.com/sites/files/image_8.png" /> </a></div>
        </div>

        <div class="material-name"><a href="/catalog/stainless-steel">Stainless Steel</a></div>
      </div>

      <div class="col-md-4">
        <div class="material-image ">
          <div class="material-content"><a href="/catalog/bronze "><img alt="Bronze "
                src="https://lowpriced8.webserver9.com/sites/files/image_6.png" /> </a></div>
        </div>

        <div class="material-name"><a href="/catalog/bronze ">Bronze</a></div>
      </div>
    </div>
  </div>

</section>
<!-- <========shop-by-brand========> -->
<section class="mt-5 shop-by-brand">
  <div class="container-fluid">
    <div class="shop-by-header text-center position-relative mb-4">

      <span class="section-tagline">Find Your Favorite</span>
      <div class="section-title-inner">
        <h2 class="section-title text-dark">Shop by Brand</h2>
        <div class="section-title-content">
          <p>Shop by Brand uses cookies to give you the best shopping experience</p>
        </div>
      </div>
      <a class="my-2 btn btn-dark position-absolute bottom-0 right-0" href="#">view all</a>
    </div>
   
    <div class="band-logos">
      <div class="row">
        <div class="logos col-md-3"> <a href="#"><img src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/BaldwinLogoSmall4_3.png?itok=iBF4KeYj" alt=""></a>   
        </div>
        <div class="logos col-md-3"> <a href="#">
          <img src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/NationalHardwareLogo_1.png?itok=MvB8aY3p" alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
          <img src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/MaxGrade.png?itok=95StMnNI" alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
          <img src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/BrassAccents1_1.png?itok=X2yywywo" alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
          <img src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/OmniaLogo_1.png?itok=Zb7CO1uh" alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
          <img src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/DexterLogo1_1.png?itok=F7o3Gk84" alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
          <img src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/emteklogo.png?itok=Ju7YVwAd" alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
          <img src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/GrandeurNewLogoBrandPage.png?itok=ZnqDd8EH" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="owl-carousel owl-theme">
    <div class="item"><h4>1</h4></div>
    <div class="item"><h4>2</h4></div>
    <div class="item"><h4>3</h4></div>
    <div class="item"><h4>4</h4></div>
    <div class="item"><h4>5</h4></div>
    <div class="item"><h4>6</h4></div>
    <div class="item"><h4>7</h4></div>
    <div class="item"><h4>8</h4></div>
    <div class="item"><h4>9</h4></div>
    <div class="item"><h4>10</h4></div>
    <div class="item"><h4>11</h4></div>
    <div class="item"><h4>12</h4></div>
</div>
</section>
<app-footer></app-footer>