<app-header></app-header>
<app-banner></app-banner>
<!-- <========shop-by-material========> -->
<section class="animate__animated animate__fadeIn py-5 shop-by-material">
  <div class="container">
    <div class="shop-by-header text-center">
      <span class="section-tagline">Find Your Favorite</span>
      <div class="section-title-inner">
        <h2 class="section-title text-dark">Shop by Material</h2>
        <div class="section-title-content">
          <p>Shop by Material uses cookies to give you the best shopping experience</p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="material-image ">
          <div class="material-content"><a href="#"><img alt="Crystal Porcelain
                        " class="lazyloaded " src="/assets/image_7.png" /> </a>
          </div>
        </div>

        <div class="material-name "><a href="#">Crystal Porcelain</a></div>
      </div>

      <div class="col-md-4">
        <div class="material-image">
          <div class="material-content"><a href="#"><img alt="Stainless Steel" src="/assets/image_8.png" /> </a></div>
        </div>

        <div class="material-name"><a href="#">Stainless Steel</a></div>
      </div>

      <div class="col-md-4">
        <div class="material-image ">
          <div class="material-content"><a href="#"><img alt="Bronze " src="/assets/image_6.png" /> </a></div>
        </div>

        <div class="material-name"><a href="#">Bronze</a></div>
      </div>
    </div>
  </div>

</section>
<!-- <========shop-by-brand========> -->
<section class="animate__animated animate__fadeIn mt-5 shop-by-brand">
  <div class="container-fluid">
    <div class="shop-by-header text-center position-relative mb-4">

      <span class="section-tagline">Find Your Favorite</span>
      <div class="section-title-inner">
        <h2 class="section-title text-dark">Shop by Brand</h2>
        <div class="section-title-content">
          <p>Shop by Brand uses cookies to give you the best shopping experience</p>
        </div>
      </div>
      <a class="my-2 btn btn-dark position-absolute bottom-0 right-0" href="#">view all</a>
    </div>

    <div class="band-logos">
      <div class="row">
        <div class="logos col-md-3"> <a href="#"><img
              src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/BaldwinLogoSmall4_3.png?itok=iBF4KeYj"
              alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
            <img
              src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/NationalHardwareLogo_1.png?itok=MvB8aY3p"
              alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
            <img
              src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/MaxGrade.png?itok=95StMnNI"
              alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
            <img
              src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/BrassAccents1_1.png?itok=X2yywywo"
              alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
            <img
              src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/OmniaLogo_1.png?itok=Zb7CO1uh"
              alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
            <img
              src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/DexterLogo1_1.png?itok=F7o3Gk84"
              alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
            <img
              src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/emteklogo.png?itok=Ju7YVwAd"
              alt=""></a>
        </div>
        <div class="logos col-md-3"> <a href="#">
            <img
              src="https://lowpriced8.webserver9.com/sites/default/files/styles/large/public/GrandeurNewLogoBrandPage.png?itok=ZnqDd8EH"
              alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <========about-us=========> -->
<section class="animate__animated animate__fadeIn my-5 home-about">
  <div class="container">
    <div class="row text-center py-5 px-4 position-relative" style="border: 2px solid #e5e5e4">
      <h1 class="text-dark mb-4">About Us</h1>
      <p>We know there are many options available to you when choosing where to shop, and we appreciate that you put
        your trust in us.</p>

      <p>We are confident you will find that our commitment to lasting quality, expertly crafted hardware, and
        exceptional customer service are the differences that set Low Price Door Knobs apart.</p>

      <strong class="text-warning fs-3">kinds of Door Hardware does Low Price Door Knobs sell?</strong>
      <p> LowPriceDoorKnobs.com offers the most popular products in the door hardware industry for the entire home.
        Choose from a wide range of Door Knob Sets, Door Lever Sets, Handlesets, Deadbolts, Door Knobs with Locks and
        Electronic Locks. Our Accessories Section includes House Numbers & Mail Slots, Switchplates, Door Bells and Door
        Knockers, as well as Door Pulls, Flush Bolts, Kick Plates and much more.</p>

      <p>We carry discount door hardware from quality brands like Schlage, Kwikset, Baldwin, Emtek, Nostalgic Warehouse,
        Grandeur, Weiser Lock, Omnia, Weslock and more. If there is something you do not find, on our website please
        contact us and we will more than likely be able to order if for you at the same discounted prices..</p>

      <p>If you need assistance or have any questions regarding our door hardware, please feel free to contact one of
        our friendly, knowledgeable Customer Service Representatives at Toll Free 888-247-0495, or visit our Help
        Center.
      </p>
      <ul class="nav corners">
        <li class="corner-1"></li>
        <li class="corner-2"></li>
        <li class="corner-3"></li>
        <li class="corner-4"></li>
      </ul>
    </div>
  </div>
</section>
<app-footer></app-footer>