<app-header></app-header>
<section class="my-5 py-5">
 <div class="container">
     
      <h1 class="text-dark mb-4">About Us</h1>  
       <p>We know there are many options available to you when choosing  where to shop, and we appreciate that you put your trust in us.</p> 
        
       <p>We are confident you will find  that our commitment to lasting quality, expertly crafted hardware, and exceptional customer service are the differences that set Low Price Door Knobs apart.</p> 
        
       <p>What kinds of Door Hardware does Low Price Door Knobs sell?
        LowPriceDoorKnobs.com offers the most popular products in the door hardware industry for the entire home. Choose from a wide range of Door Knob Sets,  Door Lever Sets, Handlesets, Deadbolts, Door Knobs with Locks and Electronic Locks. Our Accessories Section includes House Numbers & Mail Slots, Switchplates, Door Bells and Door Knockers, as well as Door Pulls, Flush Bolts, Kick Plates and much more.</p> 
        
       <p>We carry discount door hardware from quality brands like Schlage, Kwikset, Baldwin, Emtek, Nostalgic Warehouse, Grandeur, Weiser Lock, Omnia, Weslock and more. If there is something you do not find, on our website please contact us and we will more than likely be able to order if for you at the same discounted prices..</p> 
        
       <p>If you need assistance or have any questions regarding our door hardware, please feel free to contact one of our friendly, knowledgeable Customer Service Representatives at Toll Free 888-247-0495, or visit our Help Center.
        </p> 
 </div>
</section>
<app-footer></app-footer>
